/**
 * Global Styles
 *
 * Fonts
 *   @font-size-base: 16px
 *   @font-family: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/#details-of-approach-a
 *
 * Colors
 *   Text
 *   @color-light-gray: #aaa;
 *   @color-medium-gray: #777;
 *   @color-dark-gray: #333;
 *   @color-link: #0000EE; rgb(0,0,238)
 *
 *   Borders
 *   @color-border: #e9e9e9;
 *   @color-border-light: #f0f0f0;
 *
 * Image location
 *   @url-img: "/shared/static/img";
 *
 * Icon sizes
 *   1024
 *   512
 *   256
 *   128
 *   64
 *
 * Breakpoints
 * These are all done on 300px increments (from a mobile first approach)
 * i.e. min-width: 300px, min-width: 600px, min-width: 900px, min-width: 1200px
 */

/* ==========================================================================
   General
   ========================================================================== */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  color: #333;
}

/* Avoid zoom in iOS
   https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone */
input,
select,
select:focus,
textarea {
  font-size: 16px;
}

/* Sticky footer at bottom no matter height
   https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#main {
  flex: 1;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

@media screen and (min-width: 600px) {
  .wrapper {
    max-width: 600px;
  }
}
@media screen and (min-width: 900px) {
  .wrapper {
    max-width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }
}

a {
  color: #0000ee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b,
strong,
.bold {
  font-weight: 700;
}

em {
  font-style: italic;
}

.page-title {
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.external-link:after {
  content: "\2192";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  vertical-align: top;
  font-size: 0.75em;
}

/* ==========================================================================
   SVG Icons
   ========================================================================== */

.svgcon {
  width: 24px;
  height: 24px;
}

/* ==========================================================================
   Ads (styles for all ad containers across the entire site)
   ========================================================================== */

.ad-container {
  font-size: 13px;
  color: #333;
}

.ad-container a {
  color: inherit;
}

/* Contextual styles */
.icon-list .ad-container {
  text-align: center;
  padding: 20px;
}

.icon-view .ad-container {
  /* @TODO */
  float: right;
  text-align: right;
  width: 230px;
  margin-top: 10px;
}

#carbonads .carbon-text {
  display: block;
}

#carbonads .carbon-poweredby {
  font-size: 11px;
  color: #aaa;
}

#sketchkeysad img {
  display: block;
  width: 130px;
  height: 100px;
  margin: 0 auto;
}

#sketchkeysad span {
  display: block;
  font-size: 11px;
  color: #aaa;
}

/* ==========================================================================
   Site-specific Styles
   ========================================================================== */

.watchosicongallery .icon {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* For browsers that can't mask, just do a border and border-radius */
.iosicongallery .icon {
  border-radius: 22.5%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

/* For browsers that can mask, you get the squircle and a 1px border */
@supports (mask-size: cover) or (-webkit-mask-size: cover) {
  .iosicongallery .icon {
    /* Override the above borders */
    border-radius: 0;
    border: none;

    display: block;
    max-width: 100%;
    height: auto;
    -webkit-mask-image: url(/shared/static/img/ios-mask.svg);
    -webkit-mask-size: cover;
    mask-image: url(/shared/static/img/ios-mask.svg);
    mask-size: cover;
  }

  .iosicongallery .icon-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  /* Add a pseudo element with a mask in it that overlays the icon */
  .iosicongallery .icon-wrapper--512:after {
    background-image: url("/shared/static/img/ios-mask-border-512.svg");
  }
  .iosicongallery .icon-wrapper--256:after {
    background-image: url("/shared/static/img/ios-mask-border-256.svg");
  }
  .iosicongallery .icon-wrapper--128:after {
    background-image: url("/shared/static/img/ios-mask-border-128.svg");
  }
  .iosicongallery .icon-wrapper--64:after {
    background-image: url("/shared/static/img/ios-mask-border-64.svg");
  }
}

/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
  margin: 30px 0 0;
  display: flex;
}

.pagination > div {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .pagination {
    display: flex;
  }
}

/* Pagination Button
   ========================================================================== */
.pagination__button {
  border: 1px solid #0000ee;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

/* Inactive button link */
span.pagination__button {
  color: #aaa;
  border-color: #e9e9e9;
}

/* Active button link */
a.pagination__button:hover {
  border-color: #0000ee;
  background-color: #0000ee;
  color: white;
  text-decoration: none;
}

.pagination__button:nth-child(2) {
  margin-left: 10px;
}

/* Button alignment on mobile vs desktop */
@media screen and (min-width: 600px) {
  .pagination__button:nth-child(2) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 599px) {
  .pagination {
    justify-content: space-between;
  }
}

/* Pagination jump to dropdown
   ========================================================================== */
.pagination__jump-to {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .pagination__jump-to {
    font-size: 14px;
  }
}

.pagination__jump-to select {
  margin: 0 5px;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
  padding: 10px 0;
}

.header .wrapper {
  position: relative;
  font-size: 14px;
}

@media screen and (min-width: 900px) {
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Logo & attribution
   ========================================================================== */

.header h1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 899px) {
  .header h1 {
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {
  .header h1 {
    flex-wrap: nowrap;
  }
}

.header h1 > a,
.header h1 .logo {
  display: flex;
}

/* Navigation
   ========================================================================== */

.header nav a {
  padding: 5px 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 899px) {
  .header nav {
    display: none;
  }
}

.header nav a .svgcon {
  width: 18px;
  height: 18px;
  margin-right: 2px;
  fill: #0000ee;
}

/* Dropdown
   ========================================================================== */

.dropdown {
  position: relative;
}

@media screen and (max-width: 660px) {
  .dropdown {
    position: static;
  }
}

.dropdown__trigger {
  display: flex;
  align-items: center;
  height: 35px;
  width: 35px;
  margin-left: 7px;
}

.dropdown__trigger .svgcon {
  fill: #aaa;
}

.dropdown__trigger:hover .svgcon {
  text-decoration: none;
  fill: #333;
}

.dropdown--active .dropdown__trigger .svgcon {
  text-decoration: none;
  background: #333;
  fill: white;
}

.dropdown__content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #e9e9e9;
  padding: 10px;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  background: #fff;
  z-index: 1000;
  position: absolute;

  top: 80%;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease all;
}

@media screen and (max-width: 660px) {
  .dropdown__content {
    left: 0;
    margin-left: 0;
  }
}

.dropdown__content li a {
  display: block;
  padding: 10px;
  position: relative;
  border-radius: 2px;
}

.dropdown__content li a:hover {
  background: #f0f0f0;
  text-decoration: none;
}

.dropdown__content li a.external-link:after {
  color: #aaa;
  position: absolute;
  right: 14px;
  top: 12px;
}

.dropdown--active .dropdown__content {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.dropdown__content .logo {
  max-height: 20px;
}

/* ==========================================================================
   Icons (Lists and Views)
   ========================================================================== */

/* Icon & Sizes
   ========================================================================== */

.icon {
  display: block;
}

.icon--1024 {
  width: 1024px;
  height: 1024px;
}

.icon--512 {
  width: 512px;
  height: 512px;
}

.icon--256 {
  width: 256px;
  height: 256px;
}

.icon--128 {
  width: 128px;
  height: 128px;
}

.icon--64 {
  width: 64px;
  height: 64px;
}

/* Icon Wrapper - wraps the <img.icon> element 
   (useful for iOS where we need masks)
   ========================================================================== */

.icon-wrapper {
  position: relative;
  display: block;
}

/* List of icons on home screen
   ========================================================================== */

.icon-list {
  display: flex;
  flex-wrap: wrap;
  box-shadow: inset 1px 1px 0 #f0f0f0;
}

.icon-list > li,
.icon-list > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
}

@media screen and (min-width: 900px) {
  .icon-list > li,
  .icon-list > li > a {
    height: 300px;
  }
}

.icon-list > li {
  box-shadow: inset -1px -1px 0px #f0f0f0;
}

.icon-list > li > a:hover {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.065);
}

/* Don't do the hover box shadow on non-linkable items (placeholder) */
.icon-list > li > a[href="#"]:hover {
  box-shadow: none;
  cursor: default;
}

/* Individual view of icon
   ========================================================================== */

.icon-view {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

@media screen and (min-width: 1200px) {
  .icon-view {
    padding: 50px 0;
    flex-direction: row;
  }
}

.icon-view li {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .icon-view li {
    margin-bottom: 0;
  }
}

/* Hide 512 on smaller screens */
.icon-view li:first-child {
  display: none;
}

@media screen and (min-width: 600px) {
  .icon-view li:first-child {
    display: block;
  }
}

.icon-view li:last-child {
  margin-bottom: 0;
}

/* ==========================================================================
   Icon Meta
   ========================================================================== */

.icon-meta-wrapper {
  display: flex;
}

.icon-meta {
  margin-top: 15px;
}

.icon-meta h1 {
  font-size: 24px;
  font-weight: 600;
}

.icon-meta dl {
  margin-bottom: 10px;
}

.icon-meta .external-link:after {
  position: relative;
  top: 0.25em;
  margin: 0 3px;
}

.icon-meta-ad {
  text-align: center;
  padding: 15px;
}

@media screen and (min-width: 900px) {
  .icon-meta-wrapper {
    justify-content: space-between;
  }

  .icon-meta-ad {
    max-width: 320px;
    border-left: 1px solid #f0f0f0;
  }
}

@media screen and (max-width: 899px) {
  .icon-meta-wrapper {
    flex-direction: column;
  }

  .icon-meta {
    order: 2;
  }

  .icon-meta-ad {
    order: 1;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

/* Meta info like designer, developer, category */
.icon-meta__left {
  margin-right: 5px;
  float: left;
}

@media only screen and (max-width: 620px) {
  .icon-meta__left {
    float: none;
    display: block;
    line-height: 1;
    margin-top: 10px;
  }
}

.icon-meta__right {
  margin-right: 20px;
  overflow: hidden;
}

/* ==========================================================================
   About Page
   ========================================================================== 

.about {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: inset 0 1px 0 #f0f0f0, inset 1px 0 0 #f0f0f0;
}

.about a {
  text-align: center;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  box-shadow: 1px 0 0 #f0f0f0, 0 1px 0 #f0f0f0;
}

.about a:hover {
  color: #000;
  text-decoration: none;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.065);
}

.about a:hover .svgcon {
  transform: rotate(3deg) scale(0.95);
  opacity: 0.85;
}

.about h2 {
  font-weight: 700;
}

.about .svgcon {
  transition: 0.33s ease all;
  width: 100px;
  height: 100px;
  opacity: 0.25;
}
*/

/* ==========================================================================
   Filters (used in react filter toolbar)
   ========================================================================== */

/* Filters
   ========================================================================== */

.filters {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  min-height: 60px;
  border: 1px solid #f0f0f0;
  border-bottom: 0;

  /* Fixes a bug with the autocomplete dropdown */
  position: relative;
  z-index: 1000;
}

@media screen and (min-width: 900px) {
  .filters {
    flex-direction: row;
  }
}

/* Direct children of the parent flex container */
.filters > * {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.filters input[type="text"] {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}

/* Filter tabs
   ========================================================================== */

.filters__radios {
  flex-wrap: wrap;
  margin-right: 20px;
}

.filters__radios > label {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-transform: capitalize;
  padding: 8px 10px 8px 6px;
  border-radius: 4px;
}

.filters__radios .active {
  background: rgba(0, 0, 238, 0.08);
}

/* Filters control
   ========================================================================== */

.filters__control {
  flex-wrap: wrap;
}

@media screen and (max-width: 899px) {
  .filters__control {
    margin-top: 5px;
  }
}

.filters__control input[type="text"] {
  padding: 5px 10px;
}

.filters__control__count {
  opacity: 0.5;
  margin-left: 20px;
  margin-top: 5px;
}

@media screen and (min-width: 600px) {
  .filters__control__count {
    margin-top: 0;
  }
}

.filters__control__autocomplete {
  position: relative;
}

.filters__control__autocomplete select {
  position: absolute;
  left: 0;
  top: 100%;
  width: 120%;
}

/* Filters colors
   ========================================================================== */

.filters__colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.filters__colors button {
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 50%;
  display: block;
  transition: 0.2s ease transform;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin: 2px 4px;
}

.filters__colors button.active {
  transform: scale(1.25);
  box-shadow: 0 0 0 2px #0000ee, inset 0 0 0 2px rgba(255, 255, 255, 1);
}

/* ==========================================================================
   404 Page Not Found
   ========================================================================== */

.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15% 20px;
  border: 1px solid #f0f0f0;
  border-bottom: 0;
  text-align: center;
}
.page-not-found img {
  max-width: 100%;
  height: auto;
}
.page-not-found h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
}
.page-not-found p {
  color: #777;
  font-size: 18px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #f0f0f0;
  border-bottom: 0;
  padding: 15px;
  margin-top: 30px;
}

@media screen and (max-width: 599px) {
  #footer ul {
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  #footer ul {
    display: flex;
    flex-wrap: wrap;
  }
  #footer ul li:after {
    content: "/";
    margin: 0 12px 0 7px;
  }
  #footer ul li:last-child:after {
    display: none;
  }
}

/* ==========================================================================
   Modals
   ========================================================================== */

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease all;
}

.modal__close {
  position: fixed;
  top: 0px;
  right: 15px;
  font-size: 64px;
  opacity: 0.25;
  line-height: 1;
  font-weight: 200;
}

.modal__close:hover {
  text-decoration: none;
  opacity: 1;
}

.modal__body {
  padding: 10px;
}

.modal-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300;
  align-items: center;
}

.modal-link__loading {
  width: 512px;
  min-height: 300px;
  height: auto;
}

.modal-link__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 512px;
  font-size: 32px;
}

@media screen and (max-width: 512px) {
  .modal-link__title {
    font-size: 24px;
    max-width: 300px;
  }
}

body.show-modal {
  overflow: hidden;
}

body.show-modal header,
body.show-modal main {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}

body.show-modal .modal {
  opacity: 1;
  visibility: visible;
}
