/* @containers
********************************************************************************************
********************************************************************************************/

.container,
.container_alt {
width: 100%;
max-width: 1150px;
margin: 0 auto;
padding:0 25px;
overflow:hidden;
position:relative;
}

#header .container{ overflow:visible;}

.container_alt{ padding:0 0;}


/* @columns
********************************************************************************************
********************************************************************************************/

.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol,.warpbox {
margin-left:0;
float: left;
min-height: 1px;
}

.foocol{
margin:0 0 0 0;
width:25%;
padding: 60px 0 20px 40px;
position:relative;
height:100%;
min-height:1px;
float:left;
}

.foocol.first{padding: 60px 0 20px 0;}

/*sidebar*/
.fourcol{ width:32%; padding:0;margin:0 0 40px 0; min-height:1px; float:right; position:relative;}

/*content*/
.eightcol{width:68%;padding:25px; margin:0 0 40px 0; min-height:1px; float:left; position:relative;}

.postbarNone .eightcol{ margin:0 auto 40px auto; float:none;}

.postbarNone .post-head{ width:68%;margin:0 auto 40px auto; float:none;}

.sixcol{ width:50%;}

.first,
.ml-first {margin-left: 0px;}

.widgetable{
	padding:25px 25px 10px 25px;
	overflow:hidden;
	margin:0 0 0 0;
}

.widgetable_sticky{ padding-top:10px;}

.widgetable_sticky.scroll-to-fixed-fixed{ min-width:340px;}




/* @responsive mode
********************************************************************************************
********************************************************************************************/

@media screen and (max-width: 1260px) {

.container,
.container_alt{ padding:0 15px;}

#navigation {margin: 0 0 15px 0;}

.wpm_mosaic_wrap { margin:15px;}

.eightcol { padding:15px;}

.widgetable {padding:15px 15px 0 15px;}

.single-post .post-head {padding: 10px 15px 0 15px;}

h2.archiv {margin: 0 15px 15px 15px;}

.maso .item_inn {padding: 0 20px 5px 20px;}

.widgetable_sticky.scroll-to-fixed-fixed{ min-width:300px;}

.foocol,
.foocol.first{padding: 30px 15px;}
	
}


/* iPad Landscape */
@media screen and (max-width: 1130px) {

	
.wpm_mosaic{ height:430px;}

.post-previous,
.post-next{  bottom:70px;}

.widgetable_sticky.scroll-to-fixed-fixed{ position:relative  ; top:auto  ; left:auto  ; right:auto  ;}

.single-post .post-head .wpm_excerpt {padding-right:0;}

.single-post .item .item_inn {padding: 20px 0 50px 0;}

}

@media screen and (max-width: 985px){
	
.wpm_mosaic{ height:320px;}

.maso .date{ display:none;}

.tab-post .imgwrap{margin: 0 12px 0 0; }

}

/*iPad Portrait */

@media screen and (max-width: 770px){

div.tooltip p:after,
.nav>li>ul:after,
.sf-arrows .sf-with-ul::after,
.sf-arrows .sf-with-ul::after,
.slide-nav,
.tmnf_icon{ display:none  ;}

body {
width: 100%;
min-width: 0;
margin-left: 0px;
margin-right: 0px;
padding-left: 0;
padding-right: 0;
margin-top:0;
font-size: 16px;
-webkit-text-size-adjust: none;
}

.onecol, .twocol, .threecol,.threecol_spec, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol
{
width: auto;
float: none  ;
padding-left: 0px;
padding-right: 0px;
margin-left: 0;
margin-right: 0;
}

#header { margin-bottom:15px;}

#header .container{ overflow:hidden;}

#titles { float:left;max-width: 40%; text-align:left;}

#header a.searchOpen{ top:50%; right:85px;  margin-top:-17px;}

#header a.searchOpen.share-icon{ right:125px; left:auto;}

/* mobile menu */
a#navtrigger,
a#navtrigger-sec{ display:block !important;}


.navhead{ position:relative !important; top:auto !important; left:auto !important; right:auto !important;}

#navigation{ display:none; position:relative; width:100% !important;top:auto; margin:-5px 0 0 0 !important; padding:0 0 0 0 !important; background-color:#182434 !important;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; border-top: none !important; }
#navigation a{ color:#fff !important;}

#navigation a.searchOpen{ right:20px; top:20px;}

#navigation a:hover,
#navigation .current-menu-item>a{color:#f24110 !important; background:none;}

#default-nav > ul,
ul.nav,
#main-nav{ width:100% !important; margin:0 0 0 0 !important; padding:0 0 0 0 !important;display: block;}

ul.nav li,
.nav li ul,
#main-nav li.mega ul.sub-menu { width:100% !important; background-color: transparent !important; border:none !important; float:none; display:block;margin:0 0 0 0 !important; position:relative !important; left:auto !important; display:block !important; visibility:visible !important; padding-top:0;}

#navigation .nav li ul li > a{ border:none; border-bottom:1px dotted #444 !important; text-align:left;}

ul.nav li a{ width:100% !important; text-align:left; padding:15px 20px !important; margin:0 0 0 0; font-size:16px !important;}

.nav li ul li > a {font-size: 13px !important;}

.nav li a.sf-with-ul {padding-right: 0 !important;}

#main-nav > li > a {margin: 0 0 0 0 !important;}

.nav > li > ul > li,
.nav li ul ul li,
#main-nav li ul li > a,
.nav li ul li > a {max-width: 100% !important;margin:0 0 0 0; padding:0 0 0 0;}

.nav li ul{ padding:0 20px;}

#main-nav li.mega ul.sub-menu { min-height:0px;}

.nav li ul ul{ margin:0 0 0 0; padding:0 0 0 0;}

div.sub,
.nav > li > ul:after,
.menu-item-has-children > a::after{ display:none !important;}

.sf-arrows .sf-with-ul::after { right: 15px;}

/* end mobile menu */



/*//// 
stacked clomuns & posts */

/* columns */
#footer .foocol,
.blocker,
.woocommerce-page #foliocontent,
.woocommerce-page #foliosidebar,
.eightcol,
.fourcol,
.footer-logo,
.bottom-menu,
{
    padding: 0 0  ;
    width: 100%;
	margin:0 auto  ;
	float:none  ;
	display:block;
	width:100%;
	border-left: none;
	border-right:none;
}

#sidebar,
.foocol{ max-width:400px; width:100%; float:none; margin:0 auto  ; padding:0 0  ;}

.widgetable {padding: 0 0 0 0;}

.single-post .post-head {padding:20px 0 0 0;}

.postbarNone .post-head {width:100%;}

/* posts */
.blogger div.post, .blogger div.page, .blocker .tab-post {
    float: none;
    height: auto;
    left: auto;
    margin: 0 auto 40px;
    position: relative  ;
    top: auto  ;
    width: 100%  ;
}

/*//// 
end stacked colmuns & posts */


/* woocommerce */
.woocommerce-page div.product div.summary {
    margin: 0 0 40px 0;
    width: 100%;
}
.woocommerce-page ul.products li.product, .woocommerce ul.products li.product {
    width: 100%  ;
	margin:0 0 30px 0  ;
}

.woocommerce h1.page-title,
p.woocommerce-result-count{ text-align:center; width:100%;}

.woocommerce #foliocontent .woocommerce-tabs,
.woocommerce #foliocontent .related.products {width: 100%;}

.woocommerce-page #foliosidebar {clear: both;}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {float: none;}


.wpcf7-form p.sixcol {
    margin-right: 0;
    width: 100%;
}



/* comments */
.commentlist li.comment {padding: 20px 5px 10px 5px;}
ul.children li.comment:last-child {padding: 20px 0 10px 20px  ;}
.commentlist .avatar {right: 0;left:auto;top: 0;width: 40px;}
li.bypostauthor{ padding-left:10px  ;}


/* other */

.single-post .item .item_inn {
    padding: 0 0 30px 0;
}

.wpm_mosaic_wrap {margin: 15px 0 0 0;}

.wpm_mosaic{ height:1200px; }

.maso{ position:relative; top:auto; left:auto; width:50%; float:left; height:20%;margin:0 0 0 0;}

.maso-1,
.maso-4{ width:100%; height:40%; }

.maso-4 img{ width:110%; max-width:110%; left:-3%; }

.maso-4 h3{font-size: 40px;}

}


@media only screen and (max-width: 589px) {
	
#titles{ max-width:60%;}

.wpm_mosaic {height: 900px;}

.comment-form-author,
.comment-form-email,
.comment-form-url,
#post-nav,
.postauthor{ width:100%;}

#respond textarea{ width:99.5%;}

.entry blockquote {
    margin: 5px 10px;
    padding: 0 20px  ;
}
	
.post-previous, .post-next,
.post-nav-image{ display:none;}	


.scrollTo_top{ right:0; width:100%;}

.scrollTo_top a{ display:block;}

.scrollTo_top a i {
    float: none;
    padding: 5px 18px 12px;
}

}

@media only screen and (max-width: 485px) {
	
.single-post h1.entry-title {font-size:8vw !important;}

h2, h1.entry-title,.maso-4 h3{font-size:6.5vw !important;}
	
.wpm_mosaic {height: 740px;}


.blogger .entryhead {
    float: none;
    max-width: none;
	margin:0 auto 20px auto;
	max-width: none !important;
	width:100%;
}

.blogger .entryhead img{ width:100%;}

.blog-item.has-post-thumbnail .item_inn {padding-left: 0;}

.entryhead iframe {
    max-height: 200px;
}

.postauthor {
    margin: 20px 0 30px 0;
    padding: 0 0;
    border-width: 0;
}
	
}

@media only screen and (max-width: 395px) {

.wpm_mosaic {height: 500px;}

.maso .meta,
.maso p.meta.cat{ display:none;}

.maso .item_inn {padding: 0 10px 0 10px;}

.maso h3 {font-size: 14px;}

/*	
.wpm_mosaic {height: auto;}

.maso{ width:100%; height:auto;}

.maso img{ position:relative;}
*/
}